footer{
    background-color: #A0C6FF;
    padding: 50px 50px 20px;
}

footer > .copyright{
    margin-top: 15px;
    color: #5A5A5A;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 0;
    padding-top: 30px;
}

.footer{
    background-color: #A0C6FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    font-size: 1rem;
}

.footer > .right-footer > .inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer > .right-footer > .subscribe{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}
.footer > .right-footer > .inputs > .text-input{
    width: 100%;
}

.footer > .left-footer > .footer-text{
    margin: 10px 0;
    text-align: right;
}

.footer > .left-footer > .socials-header{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
}



@media only screen and (max-width: 800px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .footer > .left-footer > .socials-header{
        text-align: center;
    }
    .footer > .left-footer > .footer-text{
        text-align: center;
    }
}