.nav-styles{
    background-color: #A0C6FF;
    color: black;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link{
    text-decoration: none;
    color: #000;
}

.nav-styles > .right-items > .logo-link > .company-name{
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    padding-left: 1rem;
    margin: 0;
}

.nav-styles > .right-items  > .logo-link{
    display: flex;
    align-items: center;
}

.nav-styles > .right-items > .logo-link > img{
    width: 50px;
    border-radius: 8px;
}

.nav-styles > .left-items{
    display: flex;
    font-weight: 500;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 10px;
}
